$white-color: #ffffff;
$black-color: #000000;
$graphite-color: #454343;
$grey-color: #f1f1f1;

$success-color: #35CC4B;
$warning-color: #FDBF41;
$danger-color: #FC615D;

$highlight-color: #4397FB;
$app-header-color: #E4E2E4;

$letter-spacing: 0.3px;