.modal {
    display: none;
    letter-spacing: $letter-spacing;
    cursor: default;
    top: 25px;
}

// Actual modal
.modal-content {
    position: relative;
    background-color: $modal-content-bg;
    border: none;
    border-radius: $border-radius-large;
    @include box-shadow(0 3px 9px rgba(0, 0, 0, .5));
    background-clip: padding-box;
    // Remove focus outline from opened modal
    outline: 0;
}

// Modal background
.modal-backdrop {
    display: none;
    &.fade {
        @include opacity(0);
    }
    &.in {
        @include opacity($modal-backdrop-opacity);
    }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
    padding: 3px;
    height: 25px;
    background-color: $app-header-color;
    @include border-top-radius(6px);
    .list-inline {
        margin: 0;
        > li {
            padding: 0 8px;
        }
        &:hover {
            .dot {
                &::after {
                    font-size: 12px;
                    color: rgba($black-color, 0.6);
                    position: absolute;
                    margin-top: -2px;
                    left: 18%;
                }
                &.kill {
                    &::after {
                        content: '×';
                    }
                }
                &.minimize {
                    &::after {
                        content: '–';
                    }
                }
                &.fullscreen {
                    &::after {
                        content: '';
                    }
                }
            }
        }
    }
    .dot {
        border: 1px solid rgba($black-color, 0.07);
        width: 13px;
        height: 13px;
        border-radius: 50px;
        position: absolute;
        top: 10%;
        &.kill {
            @extend .bg-danger;
        }
        &.minimize {
            @extend .bg-warning;
        }
        &.fullscreen {
            @extend .bg-success;
        }
    }
}

// Title text within header
.modal-title {
    color: rgba($black-color, 0.7);
    font-size: 14px;
    font-weight: 400;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
    position: relative;
    padding: $modal-inner-padding;
}

// Footer (for actions)
.modal-footer {
    padding: $modal-inner-padding;
    text-align: right; // right align buttons
    border-top: 1px solid $modal-footer-border-color;
    @include clearfix; // clear it in case folks use .pull-* classes on buttons
    // Properly space out buttons
    .btn + .btn {
        margin-left: 5px;
        margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
    }
    // but override that for button groups
    .btn-group .btn + .btn {
        margin-left: -1px;
    }
    // and override it for block buttons as well
    .btn-block + .btn-block {
        margin-left: 0;
    }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

// Scale up the modal
@media (min-width: $screen-sm-min) {
    // Automatically set modal's width for larger viewports
    .modal-dialog {
        width: $modal-md;
        margin: 30px auto;
    }
    .modal-content {
        @include box-shadow(0 5px 15px rgba(0, 0, 0, .5));
    }
    // Modal sizes
    .modal-sm {
        width: $modal-sm;
    }
}

@media (min-width: $screen-md-min) {
    .modal-lg {
        width: $modal-lg;
    }
}
