.navbar {
    position: relative;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    min-height: 0;
}

.navbar-brand {
    float: left;
    font-size: $font-size-large;
    line-height: 12px;
    height: 0;
    padding-left: 22px;
    &:hover,
    &:focus {
        text-decoration: none;
    }
    img {
        display: inline-block;
        width: 15px;
        height: auto;
        margin-top: -9px;
    }
    .dropdown {
        a {
            cursor: default;
        }
    }
    .dropdown-menu {
        @include border-top-radius(0);
        margin-top: 3px;
    }
}

.navbar-nav {
    > li {
        padding: 0;
        margin: 0;
        margin: 0 -4px;
    }
    > li > a {
        letter-spacing: $letter-spacing;
        height: 2px;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 7px;
        cursor: default;
    }
    @media (max-width: $grid-float-breakpoint-max) {
        // Dropdowns get custom display when collapsed
        .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            box-shadow: none;
            > li > a,
            .dropdown-header {
                padding: 5px 15px 5px 25px;
            }
            > li > a {
                line-height: $line-height-computed;
                &:hover,
                &:focus {
                    background-image: none;
                }
            }
        }
    }
    // Uncollapse the nav
    @media (min-width: $grid-float-breakpoint) {
        float: left;
        margin: 0;
        > li {
            float: left;
            > a {
                padding-top: $navbar-padding-vertical;
                padding-bottom: $navbar-padding-vertical;
            }
        }
    }
}

.navbar-text {
    @include navbar-vertical-align($line-height-computed);
    @media (min-width: $grid-float-breakpoint) {
        float: left;
        margin-left: $navbar-padding-horizontal;
        margin-right: $navbar-padding-horizontal;
    }
}

// Default navbar
.navbar-default {
    background-color: rgba($black-color, 0.6);
    border: none;
    margin-top: -6px;
    .navbar-brand {
        color: $navbar-default-brand-color;
        &:hover,
        &:focus {
            color: $navbar-default-brand-hover-color;
            background-color: $navbar-default-brand-hover-bg;
        }
    }
    .navbar-text {
        color: $navbar-default-color;
    }
    .navbar-nav {
        .application-title {
            color: $white-color;
            > a {
                font-weight: 700;
                font-size: 15px;
                line-height: 5px;
                margin-left: -8px;
            }
        }
        > li > a {
            color: $white-color;
            font-weight: 400;
            font-size: 14px;
            margin: 0 0.5px;
            &:hover,
            &:focus {
                color: $white-color;
                background-color: $highlight-color;
            }
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                color: $white-color;
                background-color: transparent;
            }
        }
        > .disabled > a {
            &,
            &:hover,
            &:focus {
                color: $white-color;
                background-color: transparent;
            }
        }
        &.navbar-right {
            margin-right: -15px;
            li {
                &.battery {
                    span {
                        font-size: 12px;
                    }
                }
            }
            li > a {
                margin: 0 -1px;
            }
            img {
                margin-top: -4px;
                &.battery-icon {
                    width: 25px;
                }
                &.search-icon {
                    height: 15px;
                    margin-left: -1px;
                    margin-right: -1px;
                }
                &.menu-bar-noti-icon {
                    height: 10px;
                }
                &.wifi-icon {
                    margin-top: -6px;
                    height: 18px;
                }
            }
        }
    }
    .navbar-nav {
        // Remove background color from open dropdown
        > .open > a {
            &,
            &:hover,
            &:focus {
                background-color: $highlight-color;
                color: $white-color;
            }
        }
        @media (max-width: $grid-float-breakpoint-max) {
            // Dropdowns get custom display when collapsed
            .open .dropdown-menu {
                > li > a {
                    color: $white-color;
                    &:hover,
                    &:focus {
                        color: $navbar-default-link-hover-color;
                        background-color: $navbar-default-link-hover-bg;
                    }
                }
                > .active > a {
                    &,
                    &:hover,
                    &:focus {
                        color: $white-color;
                        background-color: $highlight-color;
                    }
                }
                > .disabled > a {
                    &,
                    &:hover,
                    &:focus {
                        color: $navbar-default-link-disabled-color;
                        background-color: $navbar-default-link-disabled-bg;
                    }
                }
            }
        }
    }
    // Links in navbars
    //
    // Add a class to ensure links outside the navbar nav are colored correctly.
    .navbar-link {
        color: $navbar-default-link-color;
        &:hover {
            color: $navbar-default-link-hover-color;
        }
    }
}
